:root {
  /* --primary-color: #85144b; */
  --primary-color: #fff;
  --text-color: #322;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', 'Raleway', 'Montserrat', sans-serif;
}

.no-btn {
  border: none;
  padding: 0px;
  background-color: transparent;
}

.text-editor {
  border: 1px solid black;
  width: 400px;
  height: 300px;
}

.google-sign-in {
  border: none;
  background: transparent;
  cursor: pointer;
}

.google-sign-in img {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 64px 1fr;
  grid-template-areas: 'header header' 'filelist preview';
  grid-column-gap: 10px;
  height: 100vh;
}

.filelist {
  grid-area: filelist;
  overflow: auto;
}

@media (max-width: 40em) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 56px 1fr;
    grid-template-areas: 'header' 'filelist';
  }
}
