:root {
  --primary-color: #85144b;
  --text-color: #322;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
  height: 56px;
  background-color: var(--primary-color);
}

ul {
  list-style: none;
  padding: 0;
}

.no-btn {
  border: none;
  padding: 0px;
  background-color: transparent;
}

.file-item {
  height: 3em;
}

.file-item-name {
  border-bottom: 1px solid #ccc;
  margin-right: 1em;
  margin-left: 5px;
  padding-left: 0.5em;
  line-height: 3em;
  color: var(--text-color);
}

@media (min-width: 40em) {
  nav {
    height: 64px;
  }
}
