:root {
  /* --primary-color: #85144b; */
  --primary-color: #fff;
  --text-color: #322;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', 'Raleway', 'Montserrat', sans-serif;
}

nav {
  height: 56px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

input {
  font-family: 'Montserrat', sans-serif;
  border: none;
  padding: 0.5em;
  max-width: 58%;
}

ul {
  list-style: none;
  padding: 0;
}

.no-btn {
  border: none;
  padding: 0px;
  background-color: transparent;
}

.file-item {
  height: 3em;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.file-item-name {
  border-bottom: 1px solid #ccc;
  margin-right: 1em;
  margin-left: 5px;
  padding-left: 0.5em;
  line-height: 3em;
  color: var(--text-color);
  width: calc(100% - 4rem);
}

.google-sign-in {
  border: none;
  background: transparent;
  cursor: pointer;
}

.google-sign-in img {
  margin: 0;
}

@media (min-width: 40em) {
  nav {
    height: 64px;
  }
}
