:root {
  --primary-color: #85144b;
  --text-color: #322;
  --text-color-white: #eee;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
  height: 56px;
  background-color: var(--primary-color);
}

ul {
  list-style: none;
  padding: 0;
}

.no-btn {
  border: none;
  padding: 0px;
  background-color: transparent;
}

.file-item {
  height: 3em;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.file-item-name {
  border-bottom: 1px solid #ccc;
  margin-right: 1em;
  margin-left: 5px;
  padding-left: 0.5em;
  line-height: 3em;
  color: var(--text-color);
  width: calc(100% - 4rem);
}

.google-sign-in {
  border: none;
  background: transparent;
  cursor: pointer;
}

.google-sign-in img {
  margin: 0;
}

@media (min-width: 40em) {
  nav {
    height: 64px;
  }
}
